<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="webjars/jquery/3.1.0/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="webjars/angularjs/1.5.8/angular.min.js"></script>
    <script src="webjars/Chart.js/2.1.6/dist/Chart.min.js"></script>
    <script src="webjars/angular-chart.js/1.0.2/dist/angular-chart.min.js"></script>
    <script src="js/application.js"></script>
</head>

<body>

<div class="container" ng-app="app" ng-cloak>
    <div ng-controller="gameController">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-offset-3 col-md-6 message">
                    <span ng-show="state==='game'"><h1 class="well"> The Box Game</h1></span>
                    <span ng-show="state==='simulation'"><h1 class="well"> The Simulation</h1></span>
                    <span ng-show="game==='new'">
                     <button type="button" class="btn btn-info btn-lg" ng-click="getGame()">Start a game</button>
                    </span>
                    <span ng-show="game==='new'">
                        <button type="button" class="btn btn-info btn-lg" ng-click="startSimulation();">Run Simulation</button>
                    </span>
                    <span ng-show="game==='started'"><h2>Select a box</h2></span>
                    <span ng-show="game==='simulating'"><h2></h2></span>
                    <span ng-show="game==='switch'"><h2>Swith or confirm your choice ?</h2></span>
                    <span ng-show="game==='lost'"><h2>Sorry... You lost!  </h2>
                      <span><button type="button" class="btn btn-info btn-lg" ng-click="getGame()">Play again ...</button>
                      </span>
                        <span>
                         <button type="button" class="btn btn-info btn-lg" ng-click="startSimulation()">Run Simulation</button>
                        </span>
                    </span>

                    <span ng-show="game==='won'"><h2>Congratulations...You won!  </h2>
                        <span><button type="button" class="btn btn-info btn-lg" ng-click="getGame()">Play again</button>
                        </span>
                         <span>
                         <button type="button" class="btn btn-info btn-lg" ng-click="startSimulation()">Run Simulation</button>
                        </span>
            </span>
                </div>
            </div>
        </div>
        <div ng-show="state==='game'">
            <div class="panel panel-default">
                <div>
                    <div class="flip" ng-repeat="box in boxes">
                        <div class="box" ng-click="clickBox(box)" ng-class="{flipped : box.status==='OPEN'}">
                            <div class="face front">
                                <span ng-if="box.status==='SELECTED'">{{box.status}}</span>
                            </div>
                            <div class="face back" ng-style="box.content==='MONEY' &&{'background-image':'url(./images/money.png)','border-color':'green'} ||
                                                  box.content==='EMPTY' &&{'background-image':'url(./images/no-money.png)','border-color':'red'}">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="simulationController" ng-init="strategy='KEEP'">
        <div ng-show="state==='simulation'">
             <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row col-md-offset-3 col-md-6">
                        <button type="button" class="btn btn-info btn-lg"
                          ng-click="goToGame()">Back to the game...</button>
                    </div>

                    <div class="span4 offset4 well">
                    <div class="row col-md-offset-3 col-md-6">
                    <h3>Please enter the number of games for the simulation and your stategy</h3></div>
                    <div class="form-group">
                        <div class="input-group col-md-6 col-md-offset-3">

                            <input class="form-control input-md" type="number" min="1" max="100000000" id="games"
                                   name="games" ng-model="games" placeholder="number of games" required/>
                        </div>
                    </div>
                    <div class="input-group col-md-6 col-md-offset-3">
                        <form class="form-inline">
                            <label class="btn btn-default">
                                <input type="radio" name="strategy" id="keep" value="KEEP"
                                       ng-checked="strategy==='KEEP'"
                                       ng-model="strategy">
                                <span class="radio-dot"></span>
                                <span>Keep</span>
                            </label>

                            <label class="btn btn-default">
                                <input type="radio" name="strategy" id="switch" value="SWITCH"
                                       ng-checked="strategy==='SWITCH'"
                                       ng-model="strategy">
                                <span class="radio-dot"></span>
                                <span>Switch</span>
                            </label>
                        </form>
                    </div>

                    <div class="row">
                        <br/>
                        <button type="button" class="btn btn-info btn-lg btn-block" ng-click="runSimulation()">Run
                            Simulation
                        </button>
                    </div>
                </div>
                    <br/>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="charts">
                                <canvas id="doughnut" class="chart chart-doughnut "
                                        chart-data="data.simulation" chart-labels="labels.simulation"
                                        chart-colors="colors"
                                        chart-options="options">>
                                </canvas>
                            </div>
                            <div class="charts">
                                <canvas id="bar" class="chart chart-bar"
                                        chart-data="data.history" chart-labels="labels.history"
                                        chart-series="series.history"
                                        chart-options="options">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


</body>
</html>