
.box {
    position: relative;
    margin: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.flip {
    -webkit-perspective: 800px;
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    margin: 50px;
}

.flip .box.flipped {
    -webkit-transform: rotatex(-180deg);
}

.flip .box {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    margin: 50px auto;
}

.flip .box .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}

.flip .box .front {
    position: absolute;
    z-index: 1;
    color: black;
    cursor: pointer;
    background-image: url('../images/box.png');
    background-size: contain;
}

.flip .box .back {
    -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
    border: 2px solid;
    background-size: contain;
}

.charts {
    position: relative;
    float: left;
    margin: 15px;
    width: auto;
    display: inline-block;
}
